name: Parse external codebase for LLM audits

on:
  workflow_dispatch:
    inputs:
      repo_url:
        description: 'Repo URL for audit. Example: https://github.com/frogermcs/codebase-dump'
        default: 'https://github.com/frogermcs/codebase-dump'
        required: true
        type: string

jobs:
  codebase-for-audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to fetch all history for proper cloning

      - name: Extract repo name from URL
        id: extract_repo_name
        run: |
          REPO_URL="${{ github.event.inputs.repo_url }}"
          REPO_NAME=$(basename "$REPO_URL" .git)
          echo "repo_name=$REPO_NAME" >> $GITHUB_OUTPUT

      - name: Clone target repository with gh
        run: gh repo clone ${{ github.event.inputs.repo_url }} ${{ steps.extract_repo_name.outputs.repo_name }} -- --depth 1
        env:
          GH_TOKEN: ${{ secrets.GH_CLONE_PRIV_REPOS }}

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install Codebase Dump
        run: pip install codebase-dump

      - name: Generate Single-File Prompt for LLM
        run: codebase-dump ${{ steps.extract_repo_name.outputs.repo_name }} -f project_dump_for_llm.md -o markdown --audit-upload --audit-base-url https://code-audits-papaya.vercel.app/ >> audit.log

      - name: Extract audit URL
        id: extract_audit_url
        run: |
          # Locate the JSON line, convert single quotes to double quotes, and extract 'url' using jq
          url=$(grep '^{' audit.log | sed "s/'/\"/g" | jq -r '.url')
          echo "url=$url" >> $GITHUB_OUTPUT

      - name: Add URL to summary
        run: |
          echo "Audit URL: ${{ steps.extract_audit_url.outputs.url }}" >> $GITHUB_STEP_SUMMARY

      - name: Upload Prompt File as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: project_dump_for_llm.md
          path: project_dump_for_llm.md